<% layout('layout') %>
<div class="slider hei700"> 
    <ul class="slider-main"> 
        <li class="slider-panel hei700"> 
            <a href="/contactus" target="_blank"><img alt="來電優惠" title="來電優惠" src="images/discount.png"></a> 
        </li> 
        <li class="slider-panel hei700"> 
            <a href="/contactus" target="_blank"><img alt="代客估價施工" title="代客估價施工" src="images/valuation.png"></a> 
        </li> 
        <li class="slider-panel hei700"> 
            <a href="/contactus" target="_blank"><img alt="修繕安裝" title="修繕安裝" src="images/install.png"></a> 
        </li> 
    </ul> 
    <div class="slider-extra hei700"> 
        <ul class="slider-nav"> 
            <li class="slider-item"></li> 
            <li class="slider-item"></li> 
            <li class="slider-item"></li> 
        </ul> 
        <div class="slider-page"> 
            <a class="slider-pre" href="javascript:;;">&lt;</a> 
            <a class="slider-next" href="javascript:;;">&gt;</a> 
        </div> 
    </div> 
</div> 
