<% layout('layout') %>
<div class="slider hei200"> 
    <ul class="slider-main"> 
        <li class="slider-panel hei200"> 
            <a href="/contactus" target="_blank"><img alt="來電優惠" title="來電優惠" src="images/discount-2.png"></a> 
        </li> 
        <li class="slider-panel hei200"> 
            <a href="/contactus" target="_blank"><img alt="代客估價施工" title="代客估價施工" src="images/valuation-2.png"></a> 
        </li> 
        <li class="slider-panel hei200"> 
            <a href="/contactus" target="_blank"><img alt="修繕安裝" title="修繕安裝" src="images/install-2.png"></a> 
        </li> 
    </ul> 
    <div class="slider-extra hei200"> 
        <ul class="slider-nav"> 
            <li class="slider-item"></li> 
            <li class="slider-item"></li> 
            <li class="slider-item"></li> 
        </ul> 
        <div class="slider-page"> 
            <a class="slider-pre" href="javascript:;;">&lt;</a> 
            <a class="slider-next" href="javascript:;;">&gt;</a> 
        </div> 
    </div> 
</div>
<h2 class="product-title">馬桶</h2>    
<a href="/product-infor">
    <div class="product">
        <div class="product-img">
            <img src="/images/test.jpg" alt="">
            <div class="seemore">see more</div>
        </div>
        <h3 class="product-name">面盆配長瓷腳 LP2360S / B305C</h3>
        <span class="product-brand">凱撒 </span>
        <div class="clear"></div>
        
    </div>
</a>
<a href="/product-infor">
    <div class="product">
        <div class="product-img">
            <img src="/images/test.jpg" alt="">
            <div class="seemore">see more</div>
        </div>
        <h3 class="product-name">面盆配長瓷腳 LP2360S / B305C</h3>
        <span class="product-brand">凱撒 </span>
        <div class="clear"></div>
        
    </div>
</a><a href="/product-infor">
    <div class="product">
        <div class="product-img">
            <img src="/images/test.jpg" alt="">
            <div class="seemore">see more</div>
        </div>
        <h3 class="product-name">面盆配長瓷腳 LP2360S / B305C</h3>
        <span class="product-brand">凱撒 </span>
        <div class="clear"></div>
        
    </div>
</a><a href="/product-infor">
    <div class="product">
        <div class="product-img">
            <img src="/images/test.jpg" alt="">
            <div class="seemore">see more</div>
        </div>
        <h3 class="product-name">面盆配長瓷腳 LP2360S / B305C</h3>
        <span class="product-brand">凱撒 </span>
        <div class="clear"></div>
        
    </div>
</a><a href="/product-infor">
    <div class="product">
        <div class="product-img">
            <img src="/images/test.jpg" alt="">
            <div class="seemore">see more</div>
        </div>
        <h3 class="product-name">面盆配長瓷腳 LP2360S / B305C</h3>
        <span class="product-brand">凱撒 </span>
        <div class="clear"></div>
        
    </div>
</a><a href="/product-infor">
    <div class="product">
        <div class="product-img">
            <img src="/images/test.jpg" alt="">
            <div class="seemore">see more</div>
        </div>
        <h3 class="product-name">面盆配長瓷腳 LP2360S / B305C</h3>
        <span class="product-brand">凱撒 </span>
        <div class="clear"></div>
        
    </div>
</a>
<div class="clear"></div>