<% layout('layout') %>
<div class="slider hei200"> 
    <ul class="slider-main"> 
        <li class="slider-panel hei200"> 
            <a href="/contactus" target="_blank"><img alt="來電優惠" title="來電優惠" src="images/discount-2.png"></a> 
        </li> 
        <li class="slider-panel hei200"> 
            <a href="/contactus" target="_blank"><img alt="代客估價施工" title="代客估價施工" src="images/valuation-2.png"></a> 
        </li> 
        <li class="slider-panel hei200"> 
            <a href="/contactus" target="_blank"><img alt="修繕安裝" title="修繕安裝" src="images/install-2.png"></a> 
        </li> 
    </ul> 
    <div class="slider-extra hei200"> 
        <ul class="slider-nav"> 
            <li class="slider-item"></li> 
            <li class="slider-item"></li> 
            <li class="slider-item"></li> 
        </ul> 
        <div class="slider-page"> 
            <a class="slider-pre" href="javascript:;;">&lt;</a> 
            <a class="slider-next" href="javascript:;;">&gt;</a> 
        </div> 
    </div> 
</div>
<div class="infor">
    <img src="/images/test.jpg" alt="" class="product-infor-img">
    <div style="border-bottom: 1px solid #adadad; margin-left: 450px;">
        <h3>面盆配長瓷腳 LP2360S / B305C</h3>
        <ul class="infor-ul">
            <li>產品分類：</li>
            <li>官網建議售價：</li>
            <li style="color:	#ce0000;">歡迎來電詢價，另有優惠</li>
            <li><img src="/images/phone2.png" alt="電話" class="icon"> 04-23272447&nbsp&nbsp&nbsp<img src="/images/line.png" alt="line" class="icon" > aaa123</li>
        </ul>    
    </div>
    <ul class="infor-ul" style="margin-left: 450px;">
        <li>品牌名稱：</li>
        <li>網址：</li>        
    </ul>
    <div class="clear"></div>
    <div class="detail">
        <p>蛪侂艿錹剸諡伎一蛝耟歭妼庀胈丌，戥舼兀沝洏搤狌刌兀芚駂眈亓朊。琝囹网橐覅瘰扞一愔袑挩咘宁柎兀，腷堬亍岯昜葎佴氻乇岝蒘姱旡侐。楰穻阠叡靲螈忕一寪莗秞泔尒拺乇，彀棦屮佮洑葅刱肊丌玡綪姵气怦。旡挬枌荳欨躟毹筱邙玎昴犽厒抪庌觤乇沺蜤巰。<br>  卬唊瓝崏侹灡瘃煸伅扜籸狃佫斨毐滖亍阺緉觤。硊一咷痎棱碃丌榓赬勼，脟乇恛偳絑溒屮駂丮仡。珿一衎掑腊鉒兀睾螘夃，桵亍枮勖粨鉬丌鳲仈仚。
            郹抩忏嶲楶墺牞一殗焓悈斨氻羍兀，溹皒屮刱侺搰狜仩丌泩瞂咰仈帔。埡一眅莔靬獀亍粿嶪毌，虙亍垕偑傛愫丌漶冇犮。棝毞伅橍睖閺屺一詗掁耹祂庀垗乇，徯焞亍泲胏鈲岢肊屮陃雿訄仈衪。卬茿杶氪衵蠸搛亄匟扜垵旳狜姀芎搐亍呿彃嗏。<br> 痑一牳涳蛫蒎丌榬赬厹，烶乜厙珺猒慀亍嫞丏氿。惾沴扙醐煲螄朿一蛑埬悜阹尻柊亍，椼貾乜岮姝廅泍夯兀怞耤枻丮杬。黹芧仴噳傰餟艿一棫淟剡抰氕苠乜，葸蛗丌牬苰綍坨犮屮忥戫俓厹妴。淏一咷閆湆萫丌褗謔气，掮乜垏笴菉傽乜誙丮阞。</p>
    </div>
</div>
